flows.json
[{"id":"17a03b83.dfc644","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"17a03b83.dfc644","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":120,"y":40,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"17a03b83.dfc644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"f2012e34.83009","type":"ibmiot in","z":"17a03b83.dfc644","authentication":"apiKey","apiKey":"dadf6eb.e3b719","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":120,"wires":[["79d2480c.542d98","4ee235b4.ce2c3c","17c08874.2896c8","8c55337a.b4cb6"]]},{"id":"79d2480c.542d98","type":"debug","z":"17a03b83.dfc644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"4ee235b4.ce2c3c","type":"function","z":"17a03b83.dfc644","name":"Lubrication level","func":"global.set('L',msg.payload.d.lubricantlevel)\nreturn{payload:msg.payload.d.lubricantlevel}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":220,"wires":[["79d2480c.542d98","c3db91f.2881e7","1ca584b3.90b8fb"]]},{"id":"17c08874.2896c8","type":"function","z":"17a03b83.dfc644","name":"flowrate","func":"global.set('F',msg.payload.d.flowrate)\nreturn{payload:msg.payload.d.flowrate}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":260,"wires":[["5f09b56b.86743c","79d2480c.542d98"]]},{"id":"5f09b56b.86743c","type":"ui_gauge","z":"17a03b83.dfc644","name":"Lubrication","group":"57017e5d.dda3","order":0,"width":0,"height":0,"gtype":"gage","title":"lubrication","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":300,"wires":[]},{"id":"c3db91f.2881e7","type":"ui_chart","z":"17a03b83.dfc644","name":"Flowrate","group":"57017e5d.dda3","order":1,"width":0,"height":0,"label":"Flowrate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":240,"wires":[[]]},{"id":"dfd9f675.da3a98","type":"ui_button","z":"17a03b83.dfc644","name":"Switch ON","group":"57017e5d.dda3","order":3,"width":0,"height":0,"passthru":false,"label":"Switch ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"switchon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":670,"y":100,"wires":[["75d4a72b.a2ae78","1b7de198.70f73e"]]},{"id":"a36b9a72.7f4ce8","type":"ui_button","z":"17a03b83.dfc644","name":"Switch OFF","group":"57017e5d.dda3","order":4,"width":0,"height":0,"passthru":false,"label":"Switch OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"switchoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":670,"y":160,"wires":[["75d4a72b.a2ae78","1b7de198.70f73e"]]},{"id":"75d4a72b.a2ae78","type":"debug","z":"17a03b83.dfc644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"1b7de198.70f73e","type":"ibmiot out","z":"17a03b83.dfc644","authentication":"apiKey","apiKey":"dadf6eb.e3b719","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":200,"wires":[]},{"id":"1cba8705.582029","type":"switch","z":"17a03b83.dfc644","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":360,"wires":[["edf26590.f869c8"]]},{"id":"1ca584b3.90b8fb","type":"rbe","z":"17a03b83.dfc644","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":70,"y":300,"wires":[["1cba8705.582029"]]},{"id":"edf26590.f869c8","type":"http request","z":"17a03b83.dfc644","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=urE2Pc9a4YVO3Zkx0WHthXonNm86fLwTlBy5vzdCiGQeApgRJblFrv2ZUPKwJhqc4fu1aB7Cg6x3nE5O&message=Lubrication%20level%20is%20low&language=english&route=q&numbers=6301910153","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":380,"wires":[["dd75e92e.425798"]]},{"id":"dd75e92e.425798","type":"debug","z":"17a03b83.dfc644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"bccf9f0e.439f4","type":"http in","z":"17a03b83.dfc644","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":70,"y":460,"wires":[["ff3a2dc.f883dd"]]},{"id":"61088bf3.1114b4","type":"http response","z":"17a03b83.dfc644","name":"","statusCode":"","headers":{},"x":490,"y":460,"wires":[]},{"id":"ff3a2dc.f883dd","type":"function","z":"17a03b83.dfc644","name":"http response","func":"msg.payload={\"L\":global.get('L'),\"F\":global.get('F')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":480,"wires":[["61088bf3.1114b4"]]},{"id":"159579d9.d64866","type":"http in","z":"17a03b83.dfc644","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":580,"wires":[["32a4f5dc.55c06a"]]},{"id":"84c8dfdb.e780b","type":"http response","z":"17a03b83.dfc644","name":"","statusCode":"","headers":{},"x":510,"y":560,"wires":[]},{"id":"32a4f5dc.55c06a","type":"function","z":"17a03b83.dfc644","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["84c8dfdb.e780b","8a8c37c3.1a2498","9f2edf82.f4ac3"]]},{"id":"8a8c37c3.1a2498","type":"debug","z":"17a03b83.dfc644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":600,"wires":[]},{"id":"9f2edf82.f4ac3","type":"ibmiot out","z":"17a03b83.dfc644","authentication":"apiKey","apiKey":"dadf6eb.e3b719","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":520,"wires":[]},{"id":"8c55337a.b4cb6","type":"cloudant out","z":"17a03b83.dfc644","name":"","cloudant":"","database":"sensordata","service":"node-red-duxii-2021--cloudant-1624462456431-30708","payonly":true,"operation":"insert","x":670,"y":300,"wires":[]},{"id":"6b0e56bf.b8c588","type":"cloudant in","z":"17a03b83.dfc644","name":"","cloudant":"","database":"sensordata","service":"node-red-duxii-2021--cloudant-1624462456431-30708","search":"_all_","design":"","index":"","x":810,"y":440,"wires":[["918bddc1.51b7d"]]},{"id":"a001def7.9d98e","type":"inject","z":"17a03b83.dfc644","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":360,"wires":[["6b0e56bf.b8c588"]]},{"id":"918bddc1.51b7d","type":"debug","z":"17a03b83.dfc644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":560,"wires":[]},{"id":"dadf6eb.e3b719","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"gy3kt7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"57017e5d.dda3","type":"ui_group","name":"Default","tab":"90465ba4.353398","order":1,"disp":true,"width":"6","collapse":false},{"id":"90465ba4.353398","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]